p{
  color: white;
}/* ===== GENERAL ===== */
body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #1b1633, #2a2459);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

/* ===== CALCULADORA ===== */
.calc {
  background: linear-gradient(135deg, #2a235a, #3a2f7a);
  width: 430px;
  padding: 26px;
  border-radius: 26px;
  box-shadow: 0 35px 70px rgba(0,0,0,0.55);
  border: 1px solid #4b3fa0;
}

/* ===== TÍTULO ===== */
.calc h1 {
  text-align: center;
  margin-bottom: 16px;
  color: #eae7ff;
  font-weight: 600;
  letter-spacing: 1px;
}

/* ===== PANTALLA ===== */
.pantalla {
  background: linear-gradient(135deg, #eef1ff, #ffffff);
  color: #2a235a;
  font-size: 20px;
  padding: 16px;
  border-radius: 16px;
  text-align: center;
  min-height: 75px;
  margin-bottom: 18px;
  box-shadow: inset 0 0 8px rgba(0,0,0,0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== INPUTS ===== */
.campos input {
  width: 100%;
  padding: 13px;
  margin-bottom: 10px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid #7f7bd9;
  background: #f3f4ff;
  color: #2a235a;
}

.campos input::placeholder {
  color: #6b67b8;
}

/* ===== HORAS / MINUTOS ===== */
.tiempo {
  display: flex;
  gap: 10px;
}

/* ===== BOTÓN ===== */
button {
  margin-top: 16px;
  width: 100%;
  padding: 18px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #3f87ff, #4b3fa0);
  color: white;
  border: none;
  border-radius: 18px;
  cursor: pointer;
  box-shadow: 0 14px 30px rgba(0,0,0,0.4);
}

button:hover {
  opacity: 0.92;
}



/* ===== RESPONSIVE ===== */
@media (max-width: 480px) {
  .calc {
    width: 92%;
  }
}

